html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #efefef;
}
.container {
  margin: 0 auto;
  text-align:  center;
  padding: 0 15px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.logo {
  max-width: 250px;
  margin: 0 auto;
}

.header {
  font-size: 32px;
  margin: 10px 0 30px 0;
}

.image-container {
  padding: 15px 0;
  margin: 0 auto;
}

.image-container img {
  max-width: 500px;
}

.image-title {
  margin: 0 0 15px 0;
}

.form-date {
  text-align: center;
}

.form-submit {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 15px auto;
  transition-duration: 0.4s;
}

.form-submit:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  cursor: pointer;
}

.form-datepicker {
  margin: 0;
  padding: 10px 20px;
}


